:root{ 
    --color-primary:#8A2387;
	--color-secondary:#E94057;
	--color-Third:#F27121;
}
.theme-gradient{
    background:-webkit-linear-gradient(#8A2387,#e94057,#f27121);
    -webkit-background-clip:text;
    -webkit-text-fill-color:rgba(255,255,255,0.001);
}	
	